html {
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  min-width: 900px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
header {
  width: auto;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
header img {
  height: 100px;
}
#bottom {
  display: inline-block;
  width: 290px;
  font-size: 12px;
  margin-bottom: 80px;
  color: #ccc;
} #bottom a { color: #bbb; }
a {
  text-decoration: none;
  color: grey;
}
.but {
  display: inline-block;
  padding: 12px;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
}
.contentDiv {
  box-sizing: border-box;
  color: white;
  padding: 80px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.contentDiv h1 {
  font-size: 30px;
  margin: 8px;
}
.contentDiv p {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.news {
  box-sizing: border-box;
  color: white;
  padding: 20px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
  
#news       {background-color: #0ce482;
  align-vertical:center;
  width:350px;
  height:200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#news article    { color: white;
  font-size: 14px}
#news h3     { font-family: 'Rubik';}

#welcome    { background-color: #0c9ce4;
  align-vertical:center;
  width:700px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#welcome h1 { color: white;}
#welcome h2 { color: #0573aa}
#welcome p  { color: #5724FB;}
#welcome .but {
  background-color: white;
}
