body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 justus-pro;
  color: rgb(0, 0, 0);
}

.element {
  float: left;
}

.image {
  display: block;
  float: left;
  width: 202px;
  height: auto;
  margin: 30px 0 0 41.66667%;
  overflow: hidden;
}

.text {
  float: left;
}

.element-1 {
  position: relative;
  clear: both;
  z-index: 0;
  width: 42.3333333333%;
  height: 162px;
  margin: 29px 0 0 28.83073%;
  border-radius: 10px;
  background-color: rgb(100, 174, 219);
  box-shadow: 0 5px 5px rgba(132, 132, 132, 0.5);
}

.element-2 {
  width: 40.8333333333%;
  height: 3px;
  margin: 33px 0 0 29.58073%;
  border-radius: 100px;
  background-color: rgb(234, 234, 234);
}

.element-3 {
  position: relative;
  clear: both;
  z-index: 3;
  width: 18.75%;
  height: 162px;
  margin: 32px 0 0 30.39974%;
  border-radius: 10px;
  background-color: rgb(116, 222, 101);
  box-shadow: 0 5px 5px rgba(135, 135, 135, 0.5);
}

.element-4 {
  position: relative;
  z-index: 5;
  width: 18.6666666666%;
  height: 162px;
  margin: -162px 0 0 50.83203%;
  border-radius: 10px;
  background-color: rgb(240, 240, 109);
  box-shadow: 0 5px 5px rgba(137, 137, 137, 0.5);
}

.element-5 {
  position: relative;
  z-index: 7;
  width: 39.1666666666%;
  height: 99px;
  margin: 20px 0 0 30.41667%;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
  box-shadow: 0 5px 5px rgba(128, 128, 128, 0.5) inset;
}

.element-6 {
  position: relative;
  clear: both;
  z-index: 12;
  width: 26.4166666666%;
  height: 366px;
  margin: 46px 0 0 22.79948%;
  border-radius: 10px;
  background: none, url('IMG_0137.JPG') rgb(116, 222, 101);
  background-repeat: repeat, repeat;
  background-size: auto auto, cover;
  background-position: left top, center center;
  background-attachment: scroll, scroll;
  box-shadow: 0 5px 5px rgba(135, 135, 135, 0.5);
}

.element-6:hover {
  background-image: url('IMG_0732.JPG'), url('IMG_0137.JPG');
  background-size: cover, cover;
  background-position: center center, center center;
  box-shadow: 0 5px 5px rgba(135, 135, 135, 0.5);
}

.element-6:active {
  box-shadow: 0 5px 5px rgba(135, 135, 135, 0.5);
}

.element-7 {
  position: relative;
  z-index: 13;
  width: 26.4166666666%;
  height: 366px;
  margin: 46px 0 0 1.6119791666%;
  border-radius: 10px;
  background: none, url('IMG_0501.JPG') rgb(116, 222, 101);
  background-repeat: repeat, repeat;
  background-size: auto auto, cover;
  background-position: left top, center center;
  background-attachment: scroll, scroll;
  box-shadow: 0 5px 5px rgba(135, 135, 135, 0.5);
}

.element-7:hover {
  background-image: url('IMG_0541(2).JPG'), url('IMG_0501.JPG');
  background-size: cover, cover;
  background-position: center center, center center;
  box-shadow: 0 5px 5px rgba(135, 135, 135, 0.5);
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 1;
  width: 12%;
  min-height: 45px;
  margin: -132px 0 0 44%;
  font-size: 3.313em;
  color: rgb(0, 0, 0);
}

.text-10 {
  clear: both;
  width: 13.6%;
  min-height: 104px;
  margin: 37px 0 0 43.1992199999%;
  font-family: Montserrat;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-11 {
  clear: both;
  width: 15.1833333333%;
  min-height: 102px;
  margin: 28px 0 0 42.39974%;
  font-family: Montserrat;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-2 {
  position: relative;
  z-index: 2;
  width: 15.1666666666%;
  min-height: 31px;
  margin: -54px 0 0 42.41667%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 4;
  width: 8.4166666666%;
  min-height: 45px;
  margin: -107px 0 0 35.58203%;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
}

.text-4 {
  position: relative;
  z-index: 6;
  width: 9.3333333333%;
  min-height: 45px;
  margin: -113px 0 0 55.58203%;
  font-size: 2.5em;
  color: rgb(0, 0, 0);
}

.text-5 {
  position: relative;
  z-index: 16;
  margin: -57px 0 0 55.33073%;
  font-family: Montserrat;
  font-size: 0.688em;
  text-align: center;
  color: rgb(202, 206, 94);
}

.text-6 {
  position: relative;
  clear: both;
  z-index: 9;
  width: 25.8333333333%;
  min-height: 45px;
  margin: -61px 0 0 37.1992199999%;
  font-size: 1.75em;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: relative;
  z-index: 8;
  width: 9.1666666666%;
  min-height: 31px;
  margin: -82px 0 0 45.58203%;
  font-size: 1em;
  color: rgb(50, 50, 50);
}

.text-8 {
  margin: 41px 0 0 37.83203%;
  text-shadow: 0 2px 5px rgba(133, 133, 133, 0.5);
  font-size: 1.688em;
  text-align: center;
  color: rgb(100, 100, 100);
}

.text-9 {
  clear: both;
  width: 27.2%;
  min-height: 63px;
  margin: 24px 0 0 37.1992199999%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text a,
.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-10 a,
.text-10 span {
  font-style: normal;
  font-size: 0.563em;
  color: inherit;
}

.text-2 span {
  font-style: normal;
  font-size: inherit;
  color: rgb(47, 129, 161);
}

.text-1 span,
.text-3 span,
.text-4 span,
.text-6 span {
  font-style: inherit;
  font-size: inherit;
  color: rgb(255, 255, 255);
}

.text-2 a,
.text-7 a {
  font-style: inherit;
  font-size: inherit;
  color: #3290b6;
}

.text-7 span {
  font-style: inherit;
  font-size: inherit;
  color: rgb(52, 52, 52);
}

.text-8 a,
.text-8 span {
  font-style: inherit;
  font-size: inherit;
  color: inherit;
}
