html {
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  min-width: 900px;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
header {
  width: auto;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
header img {
  height: 100px;
}
#bottom {
  display: inline-block;
  width: 290px;
  font-size: 12px;
  margin-bottom: 80px;
  color: #ccc;
} #bottom a { color: #bbb; }
a {
  text-decoration: none;
  color: grey;
}
.but {
  display: inline-block;
  padding: 12px;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  padding-left: 18px;
  padding-right: 18px;
}
.contentDiv {
  box-sizing: border-box;
  color: white;
  padding: 80px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.contentDiv h1 {
  font-size: 30px;
  margin: 8px;
}
.contentDiv p {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.blog {
  box-sizing: border-box;
  color: white;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.blog hr {
  color: #016337;
  width: 300px;
}
.blog h5 {
  /* Home: */
font-family: Roboto-Medium;
font-size: 32px;
color: #FFFFFF;
/* Blog: */
font-family: Roboto-Medium;
font-size: 32px;
color: #FFFFFF;
}

#blog       {
width:1440px;
height:260px;
/* Rectangle: */
background-image: linear-gradient(52deg, #73FF83 6%, #53B0E4 89%);
/* Blog: */
font-family: Montserrat-Bold;
font-size: 18px;
color: #FFFFFF;
}

#blog article    {
/* Combined Shape: */
background-image: linear-gradient(52deg, #5AE46A 6%, #3D95C7 89%);
/* Rectangle 2: */
background: #FFFFFF;
/* [Title Here]: */
font-family: Roboto-Medium;
font-size: 48px;
color: #000000;
/* Lorem ipsum dolor si: */
font-family: Roboto-Medium;
font-size: 32px;
color: #313131;}
#blog h3     { font-family: 'Montserrat';}
#blog h4     { color: #039653}
